* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0px;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

header h1 {
    line-height: 140%;
    background-image: url('utahtechlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1rem;
    background-origin: content-box;
    margin-bottom: 0;
}

nav {
    background-color: #F3F3F3;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

nav a {
    text-decoration: none;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

#homehero {
    height: 300px;
    background-image: url('homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#studenthero {
    height: 300px;
    background-image: url('studenthero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#facultyhero {
    height: 300px;
    background-image: url('facultyhero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}