body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* --- THE GRID SETUP --- */
#grid-wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

    grid-template-rows:
        minmax(200px, auto) minmax(50px, auto) minmax(150px, auto) minmax(40px, auto) minmax(150px, auto) minmax(150px, auto) minmax(80px, auto);
    gap: 15px;
}


#hero-box {
    grid-column: 2 / 8;
    grid-row: 1 / 2;

    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid #333;
    text-align: center;
}


#nav-box {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    padding: 0;
    border: 1px solid #333;
    background-color: transparent;
}

#nav-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    background-color: rgba(0, 255, 0, 0.3);
    border-right: 1px solid #333;
}

#nav-box a:last-child {
    border-right: none;
}

#nav-box a:hover {
    background-color: rgba(0, 255, 0, 0.6);
}

#intro-text-box {
    grid-column: 2 / 8;
    grid-row: 3 / 4;

    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid #333;
    text-align: center;
}

#label-box {
    grid-column: 2 / 8;
    grid-row: 4 / 5;

    background-color: rgba(255, 255, 0, 0.3);
    border: 1px solid #333;
    text-align: center;
}


.sale-item {
    background-color: rgba(128, 0, 128, 0.3);
    border: 1px solid #333;
    text-align: center;
}


.item-top-row {
    grid-row: 5 / 6;
}

.item-bottom-row {
    grid-row: 6 / 7;
}


.item-left {
    grid-column: 2 / 4;
}

.item-middle {
    grid-column: 4 / 6;
}

.item-right {
    grid-column: 6 / 8;
}


#footer-box {
    grid-column: 2 / 8;
    grid-row: 7 / 8;

    background-color: rgba(255, 165, 0, 0.3);
    border: 1px solid #333;
    text-align: center;
}