body {
    background-color: white;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(6, minmax(0, 175px)) minmax(0, 1fr);
}

#navbar {
    grid-column: 2/8;
    max-height: 80px;
    background-color: brown;
}

#heroimg {
    grid-column: 2/8;
    max-height: 400px;
    background-color: lightgray;
}

#salestitle {
    grid-column: 2/8;
    text-align: center;
    font-size: 22px;
    background-color: lightsalmon;
}

#salesgrid {
    grid-column: 2/8;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: lightyellow;
    height: 350px;
}

#footer {
    grid-column: 2/8;
    max-height: 100px;
    background-color: lightblue;
    text-align: center;
}

#introtext {
    grid-column: 2/8;
    text-align: center;
    font-size: 22px;
    background-color: lightgreen;
}