body {
    background-color: lightblue;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(6, minmax(0, 175px)) minmax(0, 1fr);
}

#navbar {
    grid-column: 2/8;
    height: 60px;
}

#navbar ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#navbar a {
    display: flex;
    color: white;
    width: 100%;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#navbar li:nth-child(odd) {
    background-color: #4FA8CD;
}

#navbar li:nth-child(even) {
    background-color: #1e4b81;
}

#navbar a:hover {
    background-color: white;
    color: black;
}

#heroimg {
    grid-column: 2/8;
    height: 240px;
    background-image: url(hero.png);
    background-size: cover;
    background-position: center;
}

#salestitle {
    grid-column: 2/8;
    text-align: center;
    font-size: 22px;
}

.salesgrid {
    grid-column: 2/8;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.item {
    display: grid;
    text-align: center;
    padding: 10px;
    grid-template-rows: auto 1fr auto;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



#footer {
    grid-column: 2/8;
    max-height: 100px;
    text-align: center;
}

#introtext {
    grid-column: 2/8;
    text-align: center;
}

.picturethentext {
    grid-column: 2/8;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;

}

.picturethentext img {
    max-width: 100%;
    height: 2350 px;
    object-fit: cover;
    background-color: white;
    justify-items: center;

}

@media screen and (max-width: 991px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 128px)) minmax(0px, 1fr);
    }

    .salesgrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }


}

@media screen and (max-width: 768px) {
    #wrapper {
        grid-template-columns: 0px repeat(6, auto) 0px;
    }

    .salesgrid {
        grid-template-columns: minmax(0, 1fr);
    }

    #navbar {
        grid-column: 1/-1;
        height: auto;
        margin-bottom: 20px;
    }


    #navbar ul {
        display: flex;
        flex-direction: column;
    }

    #navbar li {
        height: 50px;
    }

    #introtext {
        padding-left: 10px;
        padding-right: 10px;
    }



}