body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightskyblue;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

    grid-template-rows:
        minmax(200px, auto) minmax(50px, auto) minmax(150px, auto) minmax(40px, auto) minmax(150px, auto) minmax(150px, auto) minmax(80px, auto);
    gap: 15px;
}


#hero-box {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    background-image: url('hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}


#nav-box {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    padding: 0;
    background-color: transparent;
    margin-top: -15px;
}

#nav-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    border-right: 1px solid #333;
    transition: background-color 0.3s;
}

#nav-box a:nth-child(odd) {
    background-color: #4FA8CD;
}

#nav-box a:nth-child(even) {
    background-color: #1E4B81;
}

#nav-box a:hover {
    background-color: #ffffff;
    color: #000000;
}

#nav-box a:last-child {
    border-right: none;
}

#intro-text-box {
    grid-column: 2 / 8;
    grid-row: 3 / 4;


    text-align: center;
}

#label-box {
    grid-column: 2 / 8;
    grid-row: 4 / 5;

    text-align: center;
}


.sale-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.sale-item img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.sale-item h3 {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #333;
}


.sale-item p {
    margin: 0;
    font-weight: bold;
    color: #1E4B81;
}


.item-top-row {
    grid-row: 5 / 6;
}

.item-bottom-row {
    grid-row: 6 / 7;
}


.item-left {
    grid-column: 2 / 4;
}

.item-middle {
    grid-column: 4 / 6;
}

.item-right {
    grid-column: 6 / 8;
}


#footer-box {
    grid-column: 2 / 8;
    grid-row: 7 / 8;
    text-align: center;
}